body {
    font-family: Arial, sans-serif;
    background-color: #fffcfc; 
    color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    background-color: #e0dede; 
    border: 2px solid #FFBB06;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 0px 15px #1e2029;
}

form {
    margin-top: 10px;
}

label,
input,
#submit {
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-top: 15px;
    color: #FFBB06; 
    font-weight: bold;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #FFBB06;
    background-color: #403f3f;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
}

#submit {
    background-color: #FFBB06;
    color: #000000;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 5px;
}

#submit:hover {
    background-color: #e0a800;
}

.volver {
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    background-color: #333333;
    color: #FFBB06;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #FFBB06;
}

.volver:hover {
    background-color: #FFBB06;
    color: #000000;
}

.logo-container img {
    max-width: 250px;
    border-radius: 10px;
}
