<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/imgs/logocoches2.png">
    <title>SP Motors Events</title>

</head>

<body>
    <header id="header">
        <!-- <img id="language-switcher" src="imgs/bandera-españa.png" alt=""> -->
        <img id="page-logo" src="./imgs/logocoches2.png" class="img">
        <img src="imgs/perfil-usuario.png" alt="perfil-usuario" class="img">
        <!-- <a href="login/login.php">" "</a> -->
    </header>
</body>

</html>                                                                                                                             00000000000-